body{
    background: url("images/apple2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(102, 202, 107);
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
}

ul, li{
    text-decoration: none;
}